<% include partials/head %>
<div class="row-fluid ">
	<h1>Evaluation</h1>
	<div class="col-md-4">
		<h3>Profile de l'etudiant</h3>
		<img src="http://lorempixel.com/400/200/" class="img-thumbnail" alt="nom prénom" />
		<p>Nom</p>
		<p>Prénom</p>
	</div>
	<div class="col-md-8">
		<h2>Dernier Commentaires :</h2>
		<ul>
			<li>
				<p>Bien</p>
				<small>Le 25 Nov à 20:32</small>
			</li>
		</ul>
	</div>
</div>
<% include partials/footer %>